<!DOCTYPE html>
<!--
<div class="container">
  <h2 class="title">Basic Elements</h2>
  <h3>Buttons</h3>
  <p class="category">Pick your style</p>
  <div class="row">
    <div class="col-md-10">
      <button class="btn btn-primary" type="button">Default</button>
      <button class="btn btn-primary btn-round" type="button">Round</button>
      <button class="btn btn-primary btn-round" type="button">
        <i class="tim-icons icon-heart-2"></i> With Icon
      </button>
      <button class="btn btn-primary btn-icon btn-round" type="button">
        <i class="tim-icons icon-heart-2"></i>
      </button>
      <button class="btn btn-primary btn-simple btn-round" type="button">Simple</button>
    </div>
  </div>
</div>
-->

<router-outlet></router-outlet>